@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background-color: #e3ebfb;

}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
  margin-left:10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #af7eeb; 
  border-radius: 6px;
}

 
.custom-scrollbar-horizontal::-webkit-scrollbar {
 
  height: 6px; 
}